header{
    background-color: #2d3040;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 5rem;
    margin: 0.8rem;
    height: 5rem;
    border-radius: 50%;
}
nav{
    padding-top: 4rem;
}

.navigation{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin:1.5rem;
}
.green{
    color:greenyellow;
}
.img{
    width: 25rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    object-fit: cover;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer{
    background-color: #2d3040;
    display: flex;
    justify-content: space-between;
}

small{
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
}
.footerlink{
   font-size: 2rem;
   color:gray;
   margin: 2rem;
}